p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
	margin-left: 20px;
	font-size: 15px;	
}

div {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
	padding-left: 80px;
	border: 15px solid lightgray;
	border-style: groove;
	width: 650px;
	font-family: Trebuchet MS, sans-serif;
}

p.intro {
	font-size: 16px;
}

h3.color {
	size: 35px;
	color: white;
	margin-right: 150px;
}

ul.style {
	list-style-type: square;
  }

#mainheading {    
	font-size: 40px;
	font-weight: bold
}

#redstripe {
	background-color: rgb(131, 25, 25);
}

#orangestripe {
	background-color: rgb(212, 97, 3);
}

#greenstripe {
	background-color: rgb(27, 117, 27)	
}

#bluestripe {
	background-color: rgb(30, 111, 138)
}


#purplestripe {
	background-color: rgb(96, 17, 148);
}